<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="main" *ngIf="ongoingData">
    <br>
    <div *ngFor="let section of ongoingData.sections">
      <hr>
      <h3>{{section.day}}</h3>
      <div class="cards-container" *ngIf="ongoingData">
        <ion-card tabindex="0" id="anime_{{i}}" (keydown)="move($event, i)"
          *ngFor="let anime of section.animeList; let i = index" (click)="redirectToAnimeInfo(anime.url, anime.website)"
          (keyup.enter)="redirectToAnimeInfo(anime.url, anime.website)">
          <img src={{anime.imageUrl}} onerror="this.src='../../../assets/imgNotFound.jpg'" />
          <ion-card-header>
            <ion-card-title>{{anime.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  <br>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>


</ion-content>