ion-content {
  // --background: none;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 28, 121, 1) 28%, rgba(43, 32, 136, 1) 63%, rgba(3, 9, 10, 1) 100%);
  --background: #000000d1;
}

.main {
  text-align: center;

  h3 {
    color: orange;
    text-align: start;
    margin-left: 2rem;
  }

  hr {
    border-bottom: 2px solid gray;
  }

  .noResults {
    p {
      margin-top: 5rem;
      color: white;
    }
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    display: grid;
    margin: 10px;

    ion-card {
      border-radius: 15px;
      background: black;
      min-height: 270px;
      max-height: 270px;
      border: 2px solid gray;

      &:focus {
        border: 5px solid orange;

        ion-card-title {
          color: orange;
          ;
        }
      }

      &:focus-visible {
        outline: none;
      }

      img {
        width: 65%;
        font-size: 1.10rem;
      }

      ion-card-title {
        color: white;
        font-family: sans-serif;
        font-size: 1.10rem;
        margin-top: -0.5em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

  .pagination {
    width: 80%;
    margin-left: 10%;
    button {
      background: green;
      color: white;
      border-radius: 15px;
      font-size: larger;
  
      &.cleanFilter {
        width: 10rem;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 25px;
      }
  
      &.loadMore {
        margin: 0 10px 10px;
        width: 3rem;
        height: 3rem;
  
        &.disabled {
          color: rgb(0, 119, 255);
          background: white;
        }
      }
  
  
    }
  }

  

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main{
    .cards-container{
      ion-card{
        img {
          width: 45%;
        }
      }
    }
  }
  
}