ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    // background-color: black;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 28, 121, 1) 28%, rgba(43, 32, 136, 1) 63%, rgba(3, 9, 10, 1) 100%);

}


.main {
    h1 {
        font-family: emoji;
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    hr {
        border-bottom: 1px solid gray;
    }

    #animeName {
        width: fit-content;
        background: black;
        color: white;
        margin: 1em 2em 0em;
        padding: 6px;
        border-radius: 10px;
        text-align: start;
        font-size: 20px;
        border: 3px solid rgb(0, 119, 255);
        ;

        &:focus,
        &:focus-visible {
            border-radius: 10px;
            padding: 5px;
            border: 2px solid rgb(0, 119, 255);
            background-color: rgb(0, 119, 255);
            color: white;
        }
    }

    #datePublish {
        text-align: start;
        color: white;
        font-size: 12px;
        margin: 1em 3.5em 0em;
    }

    .description {
        border: 2px solid gray;
        margin: -10px 5em;
        color: white;
        // text-align: center;
    }

    .serverList {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: -1rem;
        width: 75%;
        margin: 0 auto;

        ion-chip {

            &:focus-visible,
            &:focus-within,
            &:focus {
                border: 3px solid rgb(0, 119, 255);
            }

            &.selected {
                --background: rgb(0, 119, 255);
                --color: white;
                --border-color: 1px solid white;
            }
        }
    }

    .player {
        // border: 3px solid rgb(0, 119, 255);
        border-radius: 15px;
        padding: 3.5em 10em;
        margin: 2em 20% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;

        .fake-player {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            padding: 2rem;
            border: 0.2rem solid black;
            background: white;
            border-radius: 50%;
            filter: drop-shadow(0 0 3.1rem rgba(255, 255, 255, 0.8));

            button {
                &.play {
                    height: 0;
                    width: 0;
                    margin-left: calc(2 * 0.14 * 2rem);
                    background: none;
                    border: none;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    border-left: calc(2rem * 2 * 0.86) solid black;

                }
            }

            &:focus,
            &:focus-visible {
                border: 10px solid rgb(0, 119, 255);

                button {
                    &.play {
                        border-left: calc(2rem * 2 * 0.86) solid rgb(0, 119, 255);
                    }
                }
            }
        }

        // #mainIframe {
        //     position: absolute;
        //     width: 80%;
        //     left: 10%;
        //     height: 80%;
        //     border: 3px solid rgb(0, 119, 255);
        //     padding: 10px;
        //     border-radius: 15px;

        //     #docu iframe {
        //         display: none !important;
        //     }
        // }
    }
}