<ion-content>

  <div class="main">
    <h1>{{data.title}}</h1>
    <hr>

    <p id="animeName" *ngIf="animeData" tabindex="0" (keyup.enter)="redirectToAnimeInfo(animeData.animeUrl)"
      (click)="redirectToAnimeInfo(animeData.animeUrl)">{{title}}</p>
    <p id="datePublish" *ngIf="animeData && animeData.date">Publicado el {{animeData.date}}</p>
    <br>
    <div class="description" *ngIf="animeData && animeData.description">
      <blockquote>
        {{animeData.description}}
      </blockquote>
    </div>

    <div class="serverList" *ngIf="animeData && animeData.servers.length > 0">
      <ion-chip tabindex="0" (keyup.enter)="updateServer(server)" *ngFor="let server of animeData.servers"
        [ngClass]="{'selected': playerServerName === server.server }">
        {{server.server}}
      </ion-chip>
    </div>

    <div class="player" [style.background-image]="playerImg"
      *ngIf="animeData && animeData.defaultPlayer != 'https://animeyt.es/undefined' && playerServerName === 'Omega' || playerServerName === 'Mega'"
      id="player">
      <div tabindex="0" (click)="openPlayer()" (keyup.enter)="openPlayer()" class="fake-player">
        <button tabindex="-1" role="play" class="play"></button>
      </div>

    </div>

    <div class="iframePlayer" tabindex="0" style="margin-top: 10px; width: 80%; margin-left: 10%;" *ngIf="playerServerName !== 'Omega' && playerServerName !== 'Mega'">
      <iframe id="mainIframe" width="100%" tabindex="0" [src]="playerServer | safe" frameborder="0"></iframe>
    </div>

    <div style="text-align: center;" *ngIf="animeData && animeData.defaultPlayer == 'https://animeyt.es/undefined'">
      <p style="color: white;font-size: larger;">Próximamente</p>
    </div>

  </div>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>
</ion-content>