<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="data && data.title">{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main" *ngIf="data">
    <br>
    <div tabindex="0" class="info" id="infoSection" (keydown)="move($event, 0, false, false)">
      <img *ngIf="data" [ngClass]="{'animeyt': websiteSelected == 'animeyt'}"
      src={{data.imageUrl}} alt="" srcset="">
      <div class="description" *ngIf="data && (data.description  || data.genreList )">
        {{getDescription()}}
        
        
      </div>
      <div class="genreList" *ngIf="data && data.genreList">
        <br>
        <ion-chip class="genreChip" *ngFor="let genre of data.genreList">{{genre.genre}}</ion-chip>
      </div>
      <br>
      <br>
    </div>
    <div *ngIf="data && data.title" class="animeOptions">
      <button id="favBtn" (keydown)="move($event, 0, false, true)" tabindex="0" class="favoriteBtn"
        (click)="favoriteClick()" [ngClass]="{'add': !isFavorite, 'remove': isFavorite}">
        {{textFavorite}}
      </button>
    </div>
    <br>

    <div class="animeRelated" *ngIf="data && data.related && data.related.length > 0">
      <p>Animes relacionados</p>
      <ion-chip tabindex="0" id="animeRelated_{{i}}" (keyup.enter)="redirectToAnimeInfo(related.url, 'animeflv')"
      (click)="redirectToAnimeInfo(related.url, 'animeflv')" *ngFor="let related of data.related; let i = index">{{related.name}}</ion-chip><br>
    </div>
    <div class="chapters" *ngIf="data && data.chapterList.length > 0">
      <h3>Lista de capitulos</h3>
      <table>
        <tr>
          <th>#</th>
          <th>Nombre del capítulo</th>
          <th *ngIf="data && data.chapterList[0].date">Fecha</th>
          <th *ngIf="isFavorite">Visto</th>
        </tr>
        <tr *ngFor="let chapter of data.chapterList; let i = index">
          <td>{{getChapterNumber(i)}}</td>
          <td id="animeChapter_{{i}}" (keydown)="move($event, i, true, false)"
            (click)="seeChapterAnime(chapter.chapterUrl,data.website, chapter.chapter, data.imageUrl)"
            (keyup.enter)="seeChapterAnime(chapter.chapterUrl,data.website, chapter.chapter, data.imageUrl)"
            tabindex="0">{{chapter.chapter}}</td>
          <td *ngIf="chapter.date">{{chapter.date}}</td>
          <!-- <td *ngIf="!chapter.date">-</td> -->
          <td *ngIf="isFavorite && chapter.chapterUrl">
            <input tabindex="0" (click)="updateChapterSeen(chapter.chapterUrl)" class="checkSeenChapter" type="checkbox"
              [checked]="isChapterSeen(chapter.chapterUrl)" />
          </td>
        </tr>
      </table>

    </div>
    <br>
    <div tabindex="0"></div>
  </div>
  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>
</ion-content>