ion-content {
    --background: #000000d1;
}


.main {
    .info {
        display: flex;
        position: relative;
        left: 5%;
        width: 90%;
        border: 3px solid orange;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        // min-height: 345px;
        max-height: 345px;

        .description {
            display: block;
            padding: 20px 20px 0;
            color: white;
            text-align: start;
            width: 70%;
            font-family: emoji;
            height: -moz-fit-content;
            height: fit-content;
            font-size: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.25;
        }

        .genreList {
            width: fit-content;
            max-width: 75%;
            // margin-top: 3%;
            bottom: 0;
            position: absolute;
            height: fit-content;
            padding-bottom: 5px;
        }

        img {
            &.animeyt {
                width: 25%;
            }
        }
    }

    .animeOptions {
        position: absolute;
        left: 5%;
        width: 22.5%;
        padding-top: 5px;

        button.favoriteBtn {
            border-radius: 10px;
            padding: 10px;
            font-family: monospace;
            font-size: 16px;
            width: 100%;

            &:focus {
                border: 2px solid orange;
            }

            &.add {
                background: green;
                color: white;
            }

            &.remove {
                background: red;
                color: white;
            }
        }
    }

    .animeRelated {
        left: 5%;
        width: 90%;
        padding: 0px 10px;
        margin-top: 5%;
        border: solid 2px orange;
        position: relative;
        border-radius: 10px;

        p {
            color: white;
            font-size: 18px;
            margin-left: 10px;
        }

        ion-chip {
            display: block;
            width: max-content;

            &:focus {
                background: orange;
                color: black;
                font-size: 17px;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    .chapters {
        color: white;
        background: black;
        width: 80%;
        margin-left: 10%;
        // border-top-right-radius: 15px;
        // border-top-left-radius: 15px;
        border-radius: 15px;
        font-family: emoji;
        text-align: center;
        margin-top: 5%;
        border: 1px solid orange;
        padding-bottom: 2%;

        h3 {
            padding-top: 5px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0 auto;
            width: 80%;

            tr {
                border-bottom: 2px solid gray;

                td {
                    color: white;
                    text-align: center;
                    padding: 12px 0 10px 0;
                    font-size: 15px;

                    &:focus {
                        background: orange;
                        color: black;
                        font-size: 17px;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                    .checkSeenChapter {
                        width: 25px;
                        height: 25px;
                        // accent-color: green;
                        // filter: hue-rotate(165deg);

                        &:focus,
                        &:focus-within {
                            outline-style: solid;
                            outline-color: orange;
                        }
                    }
                }

                th {
                    color: orange;
                    font-family: sans-serif;
                    padding: 10px 0 10px 0;
                }
            }


        }
    }
}