<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="main">
    <br>
    <div class="search">
      <ion-searchbar (ionChange)="setValue()" [(ngModel)]="searchValue"
        placeholder="Ingrese el texto a buscar ..."></ion-searchbar>
      <div class="selectFilter"  *ngIf="genresList.length > 0">
        <label for="">Género: </label>
        <select (change)="onChangeGenre($event)" [(ngModel)]="genreSelected" tabindex="1">
          <option value="" selected disabled hidden>Género a filtrar</option>
          <option *ngFor="let genre of genresList" value={{genre.value}}>{{genre.name}}</option>
        </select>
      </div>
      <div class="selectFilter" *ngIf="yearList.length > 0">
        <label for="">Año: </label>
        <select (change)="onChangeYear($event)" [(ngModel)]="yearSelected" tabindex="0">
          <option value="" selected disabled hidden>Año a filtrar</option>
          <option *ngFor="let year of yearList" value={{year}}>{{year}}</option>
        </select>
      </div>
      <div class="selectFilter">
        <button (click)="clearFilters()" class="cleanFilter">Limpiar Filtro</button>
      </div>
    </div>

    <div class="cards-container" *ngIf="searchResult && searchResult.length > 0">
      <ion-card id="searchAnime_{{i}}"  tabindex="0"
        *ngFor="let anime of searchResult; let i = index" (click)="redirectToAnimeInfo(anime.url, anime.website)"
        (keyup.enter)="redirectToAnimeInfo(anime.url, anime.website)"
        (keydown)="move($event, i)">
        <img src={{anime.imageUrl}} onerror="this.src='../../../assets/imgNotFound.jpg'" />
        <ion-card-header>
          <ion-card-title>{{anime.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div *ngIf="searchResult.length == 0 && isSearchDone && !isLoading" class="noResults">
      <p>No se encontraron resultados para esa búsqueda.</p>
    </div>
    <br>
    <div *ngIf="buttons.length > 0 && searchResult.length > 0" class="pagination">
      <button [disabled] = "currentPage == btn.display" tabindex="0" *ngFor="let btn of buttons" (click)="redirectToPage(btn.url)"
        [ngClass]="{'disabled': currentPage == btn.display }" (keyup.enter)="redirectToPage(btn.url)"
        class="loadMore">
        {{btn.display}}
      </button>
    </div>
    <br>
  </div>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>


</ion-content>