<ion-app>
  <ion-menu contentId="main-content" (ionWillOpen)="openMenu()">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button tabindex="0" (keyup.enter)="this.menu.close()"
            (click)="this.menu.close()">X</ion-menu-button>
        </ion-buttons>
        <ion-title>Otras páginas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-content>
        <ion-list tabindex="-1">
          <ion-menu-toggle auto-hide="false">
            <!-- <select value="" (change)="selectWebsite()">
              <option value="animeflv">AnimeFlv</option>
              <option value="animeyt">AnimeYT</option>
            </select> -->
            <ion-select (ionDismiss)="$event.stopPropagation()"
             value="-1" id="selectWebsite" label="Websites" 
             fill="solid" interface="modal"
              (ionChange)="triggerEvent($event)">
              <ion-select-option value="animeflv">AnimeFlv</ion-select-option>
              <ion-select-option value="animeyt">AnimeYT</ion-select-option>
            </ion-select>
            <br>
            <button tabindex="0" (click)="redirect(page.url)" *ngFor="let page of pageList">
              <ion-icon name={{page.icon}}></ion-icon>{{page.display}}
            </button>
            <br>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-content>


  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>