
<ion-content [fullscreen]="true">
  <div class="main">
    <h1>Animes recientes</h1>
    <hr>
    <div class="cards-container" *ngIf="animeList.length > 0">
      <ion-card  tabindex="0" *ngFor="let anime of animeList" (click)="seeChapterAnime(anime.url, anime.website, anime.title)" 
      (keyup.enter)="seeChapterAnime(anime.url, anime.website, anime.title)" >
        <img src={{anime.imageUrl}} onerror="this.src='../../../assets/imgNotFound.jpg'" />
        <ion-card-header>
          <ion-card-title>{{anime.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <br>
    <p></p>
  </div>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>

    
</ion-content>
