<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animes recientes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="main">
    <br>
    <div class="cards-container" *ngIf="animeList && animeList.length > 0">
      <ion-card id="homeAnime_{{i}}" tabindex="0" *ngFor="let anime of animeList; let i = index"
        (click)="seeChapterAnime(anime.url, anime.website, anime.title, anime.imageUrl)"
        (keyup.enter)="seeChapterAnime(anime.url, anime.website, anime.title, anime.imageUrl)"
        (keydown)="move($event, i)">
        <img src={{anime.imageUrl}} [ngClass]="{'animeyt': websiteSelected == 'animeyt'}"
          onerror="this.src='../../../assets/imgNotFound.jpg'" />
        <ion-card-header>
          <ion-card-title [ngClass]="{'animeyt': websiteSelected == 'animeyt', 'animeflv': websiteSelected == 'animeflv'}">
            {{anime.title}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <!-- <br>
    <div *ngIf="canLoadMore && animeList &&  animeList.length > 0">
      <button tabindex="0" (click)="loadMore()" (keyup.enter)="loadMore()" class="loadMore">Mostrar más.</button>
    </div> -->
    <br>
  </div>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>


</ion-content>