/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-chip {
  --background: black;
  --color: white;
  --border-color: 1px solid white;
  font-size: 18px;

  &.genreChip {
    --background: orange;
    --color: black;
  }
}

ion-title {
  font-family: emoji;
  padding: 5px;
  color: orange;
  font-size: 2rem;
  text-align: center;
}

ion-toolbar {
  --background: black;
  // --background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 28, 121, 1) 28%, rgba(43, 32, 136, 1) 63%, rgba(3, 9, 10, 1) 100%);
}

ion-menu::part(backdrop) {
  background-color: rgba(136, 130, 136, 0.5);
}

ion-menu {
  ion-title {
    text-align: start;
    font-size: 1.5rem;
  }

  ion-content {
    // --background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 28, 121, 1) 28%, rgba(43, 32, 136, 1) 63%, rgba(3, 9, 10, 1) 100%);
    --background: black;

    ion-list {
      border-radius: 15px !important;
      background: black !important;
      border: 1px solid gray !important;
      padding: 10% 0 10% !important;

      button , select{
        width: 90%;
        left: 5%;
        padding-left: 10px;
        text-align: initial;
        margin-bottom: 5%;
        position: relative;
        height: 2.5rem;
        background: black;
        color: white;
        border-radius: 5px;
        border: 2px solid orange;

        ion-icon {
          margin-right: 10px;
        }

        &:focus {
          background: orange;
          border: 2px solid gray;
          color: black;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

ion-menu-button {
  --color: white;
  --background-focused-opacity: 0.7;
  --background-focused: orange;
}